{% extends 'bmac/base.html' %}
{% block title %}
<title>Buy Me a Coffee | Success</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-6 mx-auto mt-5">
        <div class="text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuUcnQ64mU15MiLSkSk-T6ZrXi8tbYcKHf9Q&usqp=CAU" alt="" srcset="" class="img-fluid img-responsive" style="height: 200px;" >
            <h1 class="mt-4">Thanks! Your payment has been received.</h1>
        </div>
        
    </div>
</div>
{% endblock %}